@import "tailwindcss";

@layer theme {
  :root {
    --tw-color-primary: #007E47;
    --tw-color-darkgreen: #004225;
    --tw-color-lightgreen: #007E47;
  }
}

@layer utilities {
  .primaryColor {
    color: var(--tw-color-primary);
  }

  .darkGreen {
    background-color: var(--tw-color-darkgreen);
  }

  .lightGreen {
    background-color: var(--tw-color-lightgreen);
  }
}


@keyframes scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

html, body{
  background-color: #DDDDDD;
}